h1 {
  font-family: sans-serif;
  text-align: center;
}

body > * {
}

#towers {
  width: 300px;
  margin: 0px auto;
  padding-top: 30px;
}

#towers:after {
  content: "";
  clear: both;
  display: block;
}

.tower {
  outline: grey solid 1px;
  width: 100px;
  height: 100px;
  float: left;
}

.clicked {
  background-color: #B8B8B8;
}

.disc {
  padding: 10px;
  outline: blue solid 2px;
  height: 10px;
  background-color: gray;
}